.DialogueContainer {
    width: 700px;
    height: 400px;
    background-color: brown;
    float: right;
    margin-top: 50px;
    position: relative;
    display: none;
    border-radius: 15px 15px 15px 15px;
    overflow: hidden;
}