
.MenuIcon {
    width: 50px;
    height: 40px;
    float: left;
    padding-left: 10px;
    position: absolute;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

.MenuIcon img {
    width: 40px;
    height: 40px;
    right: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
    
}


.MenuIcon:hover {
    color: rgb(189, 189, 189);
    background: rgba(102, 102, 102, 0.2);
    cursor: pointer;
    text-decoration: none;
  }


.Menu2 {
    display: none;
    position: absolute;
    float: left;
}

