.PostInside {
    color: black;
    background-color: rgb(247, 247, 247);
}

.PostMessage {
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
    width: 800px;
    height: auto;
    margin-top: 50px;
    position: absolute;
}

.PostImage {
    
   
}